.DS_Store
node_modules
/build
/.svelte-kit
/package
.env.*
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
servers/node/.out
static/cities/*.gz
.out/*
.venv
.vscode-extensions

servers/auth/node_modules
**/de441.bsp*
