---
name: {{name}}
displayName: {{ name | capitalize }}
defined: '#fefefe'
undefined: '#ababab'
motor: no # TODO: change to 'yes' if this is a motor
channels: {{ channels }}
gates: {{ gates }}
---

# {{ name | capitalize }}

## About

{{ text }}

## Defined {{ name | capitalize }}s

{{ text }}

## Undefined {{ name | capitalize }}s

{{ text }}
