---
name: {{ gate1 }}_{{ gate2 }}
display: {{ gate1 }} / {{ gate2 }}
gate1: '{{ gate1 }}'
gate2: '{{ gate2 }}'
center1: {{ center1 }}
center2: {{ center2 }}
circuit:
---

# The {{ gate1 }} / {{ gate2 }} Channel

{{ text }}
