---
name: {{ name }}
display: {{ name | capitalize }}
strategy:
theme:
---

# {{ name | capitalize }} Type

{{text}}

## A {{ name | capitalize }}'s Strategy

{{text}}

## A {{ name | capitalize }}'s Theme

{{ text }}

